@import "./base.scss";

html, body, div, p, ul, li, ol, dl, dt, dd, header, footer, video, h1, h2, h3, h4, canvas, section, figure {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

html, body {
	height: 100%;
	-webkit-tap-highlight-color: transparent;
}

body {
	font-family: "Helvetica Neue", 'Helvetica', "Microsoft YaHei", '微软雅黑', arial, sans-serif;
	font-size: 14px;
	overflow: hidden;
}

img {
	border: none;
	vertical-align: middle;
	width: 100%;
	height: auto;
}

.clearfix {
	clear: both;
}

input, textarea {
	outline: none;
}

#zmiti-blood-C {
	@include pos(a);
	display: none;
	z-index: 100;
	width: 6px;
	height: 100px;
	@include br(8px);
	border: 1px solid #fff;
	top: 50px;
	right: 36px;

	&.danger {
		@include animation(fadeIn .6s linear infinite alternate);

		&:before {
			content: '';
			@include pos(a);
			width: 100%;
			height: 100%;
			box-shadow: 0 0 20px rgba(255, 0, 0, .5);
		}

	}

	span {
		@include pos(a);
		background: #11cc03;
		width: 4px;
		left: 1px;
		height: 100%;
		@include br(8px);
		@include transition(.5s);
		@include transformOrigin(top);
		@include transform(scale(1, 1));
	}

}

@-webkit-keyframes fadeIn {
	50% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}

}

.zmiti-screen {
	@include pos(a);
	width: 3rem;
	top: 2rem;
	left: 3.5rem;
}

.zmiti-mask {
	z-index: 200;
	display: none;
	background-size: cover
}

.zmiti-btn-groups {
	width: 1rem;
	@include pos(a);
	left: 62px;
	z-index: 102;
	top: 50%;
	@include transform(translate3d(0, -50%, 0));
	display: none;

	div {
		&:nth-of-type(2) {
			margin: 10px 0;
		}

	}

}

.zmiti-tip {
	//background: rgba(0, 0, 0, .5);
	@include pos(a);
	display: none;

	img {
		width: 4rem;
		@include pos(a);
		left: 50%;
		top: 50%;
		@include transform(translate3d(-50%, -50%, 0));
	}

}

.zmiti-clip-img {
	display: none;
	box-shadow: 0 0 20px rgba(0, 0, 0, .5);
	border: 4px solid #fff;

	&.active {
		@include transition(.2s);
		@include transform(scale(.75));
	}

}

.zmiti-loading-run {
	@include pos(a);
	width: 8rem;
	left: 50%;
	top: 50%;
	@include transform(translate3d(-50%, -50%, 0));
}

.zmiti-loading-text {
	@include pos(a);
	color: #fff;
	text-align: center;
	width: 100%;
	top: 70%;
	font-size: .8rem;
	font-family: Georgia
}

#iframe {
	background: #fff;
	z-index: 103;
	display: none;

	div {
		@include pos(f);
		z-index: 102;
		width: 2rem;
		bottom: 0;
		right: 0;
		text-align: center;
		color: #fff;
	}

}

.zmiti-dialog-C {
	@include pos(a);
	width: 7rem;
	height: 3rem;
	background: #f0f0f0;
	z-index: 101;
	@include br(4px);
	overflow: hidden;
	bottom: 2.2rem;
	left: 4.8rem;
	///@include transform(rotate(90deg) translate(-7rem, 5rem) scale(.2));
	opacity: .5;
	@include transition(.5s);

	&.show {
		opacity: 1;
		-webkit-transform: rotate(90deg) translate(0, 0) !important;
		transform: rotate(90deg) translate(0, 0) !important;
	}

	&.hide {
		opacity: 0;
		z-index: -1;
		-webkit-transform: rotate(90deg) translate(-6rem, 0) !important;
		transform: rotate(90deg) translate(-6rem, 0) !important;
	}

	&>header {
		width: 100%;
		height: 1rem;
		line-height: 1rem;
		background: #fff;

		&>div {
			width: 6rem;
			margin: 0 auto;
			height: 100%;
			@include displayBox(horizontal);

			&>div {
				&:nth-of-type(1), &:nth-of-type(3) {
					width: 2rem;
				}

				&:nth-of-type(1) {
					img {
						width: 1.2rem;
					}

				}

				&:nth-of-type(2) {
					-webkit-box-flex: 1;
				}

				&:nth-of-type(3) {
				}

			}

		}

	}

	.zmiti-dialog-content {
		width: 6rem;
		margin: 10px auto;
		@include displayBox(horizontal);

		&>div {
			&:nth-of-type(1) {
				width: 1.5rem;
			}

			&:nth-of-type(1) {
				img {
					width: 1.2rem;
				}

			}

			&:nth-of-type(2) {
				width: 1px;
			}

			&:nth-of-type(3) {
				h3 {
					line-height: 26px;
				}

				-webkit-box-flex: 1;
			}

		}

	}

}

.zmiti-index-main-ui {
	overflow: hidden;
	display: none;

	&:after {
		content: '';
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		//background: -webkit-linear-gradient(left, #00c9fd, #0092fd);
		@include pos(a);
	}

	.zmiti-index-bottom-img-C {
		img {
			width: 3rem;
			display: block;
		}

		@include animation(bgMove 10s linear infinite);
	}

	&.active {
		.zmiti-index-jump {
			//@include animation(jump 1s ease 2 alternate);
		}

		.zmiti-person-canvas {
			opacity: 0
		}

	}

	.zmiti-index-energy {
		@include pos(a);
		z-index: 12;
		//@include animation(energyMove 4s linear infinite);
	}

	.zmiti-person-canvas {
		@include pos(a);
		left: 1.4rem;
		top: 100px;
		z-index: 11;
	}

	.zmiti-index-jump {
		width: 80px;
		@include pos(a);
		left: 1.4rem;
		top: 100px;
		opacity: 0;
		z-index: 10;

		&.animate {
		}

	}

}

.zmiti-hero-C {
	display: none;
	left: -4.5rem;
	@include transform(rotate(90deg));
	width: 13rem;

	.zmiti-hero {
		width: 6rem;
		margin: .5rem auto 0;
	}

	&>div {
		width: 100%;
	}

	.zmiti-fly-count {
		@include displayBox(horizontal);
		margin-bottom: .5rem;

		span {
			display: block;
			-webkit-box-flex: 1;

			label {
				font-weight: normal;
				color: #fff;

				&:nth-of-type(1) {
					color: #eab42e;
					margin: 0 .3rem;
				}

			}

			img {
				width: 1rem;
			}

		}

	}

	h1 {
		width: 100%;
		text-align: center;
		font-weight: normal;
	}

	.zmiti-scroll-C {
		width: 100%;
		height: 4.2rem;
		overflow: hidden;
		@include pos(r);

		&>div {
			height: 100%;
			width: 100%;
			color: #fff;

			ul {
				display: block;
				float: left;
				width: 50%;
				box-sizing: border-box;
				overflow: hidden;

				li {
					@include displayBox(horizontal);
					margin: 10px 0;
					-webkit-box-pack: start;
					box-sizing: border-box;

					.zmiti-list-img {
						width: 1rem;
						height: 1rem;
						background: #999;
						@include br();
						margin-right: .2rem;
					}

					.zmiti-list-title {
						max-width: 3.5rem;
						display: inline-block;
						margin-right: 10px;
						color: #fff;
						font-weight: normal;
						text-decoration: none;
						min-width: 3.2rem;
					}

					@include pos(r);

					span {
						&.zmiti-detail-btn {
							@include pos(a);
							right: 10px;
						}

						display: inline-block;
						text-decoration: underline;
						color: #fff;
						font-weight: bold;
					}

				}

				&:nth-of-type(2) {
				}

			}

		}

	}

	.zmiti-next {
		text-align: right;
		color: #fff;
		width: 80%;
		margin-top: 20px;
	}

}

@-webkit-keyframes energyMove {
	to {
		///	@include transform(translate(0, -100vh));
	}

}

@-webkit-keyframes jump {
	from {
		opacity: 1;
	}

	to {
		opacity: 1;
		-webkit-transform: translate3d(2rem, 0, 0);
	}

}
