@import "./base.scss";

html, body, div, p, ul, li, ol, dl, dt, dd, header, footer, video, h1, h2, h3, h4, canvas, section, figure {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

html, body {
	height: 100%;
	-webkit-tap-highlight-color: transparent;
}

body {
	font-family: "Helvetica Neue", 'Helvetica', "Microsoft YaHei", '微软雅黑', arial, sans-serif;
	overflow-x: hidden;
	font-size: 14px;
}

img {
	border: none;
	vertical-align: middle;
	width: 100%;
	height: auto;
}

.clearfix {
	clear: both;
}

input, textarea {
	outline: none;
}

#zmiti-blood-C {
	@include pos(a);
	z-index: 100;
	width: 10px;
	height: 100px;
	@include br(8px);
	border: 2px solid #11cc03;
	top: 50px;
	right: 28px;

	span {
		@include pos(a);
		background: #11cc03;
		width: 8px;
		left: 1px;
		height: 100%;
		@include br(8px);
		@include transition(.5s);
		@include transformOrigin(top);
		@include transform(scale(1, 1));
	}

}

.zmiti-index-main-ui {
	overflow: hidden;
	display: none;

	&:after {
		content: '';
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		background: -webkit-linear-gradient(left, #00c9fd, #0092fd);
		@include pos(a);
	}

	.zmiti-index-bottom-img-C {
		img {
			width: 3rem;
			display: block;
		}

		@include animation(bgMove 10s linear infinite);
	}

	&.active {
		.zmiti-index-jump {
			//@include animation(jump 1s ease 2 alternate);
		}

		.zmiti-person-canvas {
			opacity: 0
		}

	}

	.zmiti-index-energy {
		@include pos(a);
		z-index: 12;
		//@include animation(energyMove 4s linear infinite);
	}

	.zmiti-person-canvas {
		@include pos(a);
		left: 1.4rem;
		top: 100px;
		z-index: 11;
	}

	.zmiti-index-jump {
		width: 80px;
		@include pos(a);
		left: 1.4rem;
		top: 100px;
		opacity: 0;
		z-index: 10;

		&.animate {
		}

	}

}

@-webkit-keyframes energyMove {
	to {
		///	@include transform(translate(0, -100vh));
	}

}

@-webkit-keyframes jump {
	from {
		opacity: 1;
	}

	to {
		opacity: 1;
		-webkit-transform: translate3d(2rem, 0, 0);
	}

}
