@charset "UTF-8";
/*.ant-btn:focus, .ant-btn:hover,.ant-input:focus, .ant-input:hover {
    background-color: #fff;
    border-color: #bf1616;
    box-shadow: 0 0 0 2px rgba(191, 22, 22, 0.1);
}*/
.lt-full {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0; }

.zmiti-text-overflow {
  overflow: hidden;
  white-space: nowrap;
  word-break: break-all;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis; }

html, body, div, p, ul, li, ol, dl, dt, dd, header, footer, video, h1, h2, h3, h4, canvas, section, figure {
  padding: 0;
  margin: 0; }

a {
  text-decoration: none; }

li {
  list-style: none; }

html, body {
  height: 100%;
  -webkit-tap-highlight-color: transparent; }

body {
  font-family: "Helvetica Neue", 'Helvetica', "Microsoft YaHei", '微软雅黑', arial, sans-serif;
  font-size: 14px;
  overflow: hidden; }

img {
  border: none;
  vertical-align: middle;
  width: 100%;
  height: auto; }

.clearfix {
  clear: both; }

input, textarea {
  outline: none; }

#zmiti-blood-C {
  position: absolute;
  display: none;
  z-index: 100;
  width: 6px;
  height: 100px;
  border-radius: 8px;
  border: 1px solid #fff;
  top: 50px;
  right: 36px; }
  #zmiti-blood-C.danger {
    -webkit-animation: fadeIn 0.6s linear infinite alternate;
    animation: fadeIn 0.6s linear infinite alternate; }
    #zmiti-blood-C.danger:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      box-shadow: 0 0 20px rgba(255, 0, 0, 0.5); }
  #zmiti-blood-C span {
    position: absolute;
    background: #11cc03;
    width: 4px;
    left: 1px;
    height: 100%;
    border-radius: 8px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-transform-origin: top;
    transform-origin: top;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1); }

@-webkit-keyframes fadeIn {
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.zmiti-screen {
  position: absolute;
  width: 3rem;
  top: 2rem;
  left: 3.5rem; }

.zmiti-mask {
  z-index: 200;
  display: none;
  background-size: cover; }

.zmiti-btn-groups {
  width: 1rem;
  position: absolute;
  left: 62px;
  z-index: 102;
  top: 50%;
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
  display: none; }
  .zmiti-btn-groups div:nth-of-type(2) {
    margin: 10px 0; }

.zmiti-tip {
  position: absolute;
  display: none; }
  .zmiti-tip img {
    width: 4rem;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0); }

.zmiti-clip-img {
  display: none;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  border: 4px solid #fff; }
  .zmiti-clip-img.active {
    -webkit-transition: 0.2s;
    transition: 0.2s;
    -webkit-transform: scale(0.75);
    transform: scale(0.75); }

.zmiti-loading-run {
  position: absolute;
  width: 8rem;
  left: 50%;
  top: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0); }

.zmiti-loading-text {
  position: absolute;
  color: #fff;
  text-align: center;
  width: 100%;
  top: 70%;
  font-size: .8rem;
  font-family: Georgia; }

#iframe {
  background: #fff;
  z-index: 103;
  display: none; }
  #iframe div {
    position: fixed;
    z-index: 102;
    width: 2rem;
    bottom: 0;
    right: 0;
    text-align: center;
    color: #fff; }

.zmiti-dialog-C {
  position: absolute;
  width: 7rem;
  height: 3rem;
  background: #f0f0f0;
  z-index: 101;
  border-radius: 4px;
  overflow: hidden;
  bottom: 2.2rem;
  left: 4.8rem;
  opacity: .5;
  -webkit-transition: 0.5s;
  transition: 0.5s; }
  .zmiti-dialog-C.show {
    opacity: 1;
    -webkit-transform: rotate(90deg) translate(0, 0) !important;
    transform: rotate(90deg) translate(0, 0) !important; }
  .zmiti-dialog-C.hide {
    opacity: 0;
    z-index: -1;
    -webkit-transform: rotate(90deg) translate(-6rem, 0) !important;
    transform: rotate(90deg) translate(-6rem, 0) !important; }
  .zmiti-dialog-C > header {
    width: 100%;
    height: 1rem;
    line-height: 1rem;
    background: #fff; }
    .zmiti-dialog-C > header > div {
      width: 6rem;
      margin: 0 auto;
      height: 100%;
      display: -webkit-box;
      -webkit-box-align: center;
      -webkit-box-pack: center;
      -webkit-box-orient: horizontal; }
      .zmiti-dialog-C > header > div > div:nth-of-type(1), .zmiti-dialog-C > header > div > div:nth-of-type(3) {
        width: 2rem; }
      .zmiti-dialog-C > header > div > div:nth-of-type(1) img {
        width: 1.2rem; }
      .zmiti-dialog-C > header > div > div:nth-of-type(2) {
        -webkit-box-flex: 1; }
  .zmiti-dialog-C .zmiti-dialog-content {
    width: 6rem;
    margin: 10px auto;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -webkit-box-orient: horizontal; }
    .zmiti-dialog-C .zmiti-dialog-content > div:nth-of-type(1) {
      width: 1.5rem; }
    .zmiti-dialog-C .zmiti-dialog-content > div:nth-of-type(1) img {
      width: 1.2rem; }
    .zmiti-dialog-C .zmiti-dialog-content > div:nth-of-type(2) {
      width: 1px; }
    .zmiti-dialog-C .zmiti-dialog-content > div:nth-of-type(3) {
      -webkit-box-flex: 1; }
      .zmiti-dialog-C .zmiti-dialog-content > div:nth-of-type(3) h3 {
        line-height: 26px; }

.zmiti-index-main-ui {
  overflow: hidden;
  display: none; }
  .zmiti-index-main-ui:after {
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute; }
  .zmiti-index-main-ui .zmiti-index-bottom-img-C {
    -webkit-animation: bgMove 10s linear infinite;
    animation: bgMove 10s linear infinite; }
    .zmiti-index-main-ui .zmiti-index-bottom-img-C img {
      width: 3rem;
      display: block; }
  .zmiti-index-main-ui.active .zmiti-person-canvas {
    opacity: 0; }
  .zmiti-index-main-ui .zmiti-index-energy {
    position: absolute;
    z-index: 12; }
  .zmiti-index-main-ui .zmiti-person-canvas {
    position: absolute;
    left: 1.4rem;
    top: 100px;
    z-index: 11; }
  .zmiti-index-main-ui .zmiti-index-jump {
    width: 80px;
    position: absolute;
    left: 1.4rem;
    top: 100px;
    opacity: 0;
    z-index: 10; }

.zmiti-hero-C {
  display: none;
  left: -5rem;
  -webkit-transform: rotate(90deg) translate3d(0, 10rem, 0);
  transform: rotate(90deg) translate3d(0, 10rem, 0);
  width: 12rem; }
  .zmiti-hero-C.active {
    -webkit-transition: 5s linear;
    transition: 5s linear;
    -webkit-transform: rotate(90deg) translate3d(0, 0, 0);
    transform: rotate(90deg) translate3d(0, 0, 0); }
  .zmiti-hero-C:before {
    content: '';
    position: absolute;
    width: 110%;
    left: -5%;
    top: .8rem;
    z-index: -1;
    height: 6.8rem;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.2); }
  .zmiti-hero-C .zmiti-hero {
    width: 4.5rem;
    margin: 0 auto 0; }
  .zmiti-hero-C > div {
    width: 100%; }
  .zmiti-hero-C .zmiti-fly-count {
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -webkit-box-orient: horizontal;
    margin-bottom: .5rem;
    position: relative;
    top: .4rem; }
    .zmiti-hero-C .zmiti-fly-count span {
      display: block;
      -webkit-box-flex: 1; }
      .zmiti-hero-C .zmiti-fly-count span label {
        font-weight: normal;
        color: #fff;
        font-size: .5rem; }
        .zmiti-hero-C .zmiti-fly-count span label:nth-of-type(1) {
          color: #eab42e;
          margin: 0 .3rem; }
      .zmiti-hero-C .zmiti-fly-count span img {
        width: .5rem; }
  .zmiti-hero-C h1 {
    width: 100%;
    font-size: 14px;
    text-align: center;
    font-weight: normal; }
  .zmiti-hero-C .zmiti-scroll-C {
    width: 100%;
    height: 4.5rem;
    overflow: hidden;
    position: relative; }
    .zmiti-hero-C .zmiti-scroll-C > div {
      height: 100%;
      width: 100%;
      color: #fff;
      padding-bottom: 1rem;
      font-size: 12px; }
      .zmiti-hero-C .zmiti-scroll-C > div ul {
        display: block;
        float: left;
        width: 48%;
        box-sizing: border-box;
        overflow: hidden; }
        .zmiti-hero-C .zmiti-scroll-C > div ul:nth-of-type(1) {
          margin-right: 2%; }
        .zmiti-hero-C .zmiti-scroll-C > div ul:nth-of-type(2) {
          margin-left: 2%; }
        .zmiti-hero-C .zmiti-scroll-C > div ul li {
          display: -webkit-box;
          -webkit-box-align: center;
          -webkit-box-pack: center;
          -webkit-box-orient: horizontal;
          margin: .5rem 0;
          -webkit-box-pack: start;
          box-sizing: border-box;
          position: relative; }
          .zmiti-hero-C .zmiti-scroll-C > div ul li .zmiti-list-img {
            width: 1rem;
            height: 1rem;
            background: #999;
            border-radius: 50%;
            margin-right: .2rem; }
          .zmiti-hero-C .zmiti-scroll-C > div ul li .zmiti-list-title {
            max-width: 3rem;
            display: inline-block;
            margin-right: 10px;
            color: #fff;
            font-weight: normal;
            text-decoration: none;
            min-width: 2.2rem; }
          .zmiti-hero-C .zmiti-scroll-C > div ul li span {
            display: inline-block;
            text-decoration: underline;
            color: #fff;
            font-weight: bold; }
            .zmiti-hero-C .zmiti-scroll-C > div ul li span.zmiti-detail-btn {
              position: absolute;
              right: 10px; }
  .zmiti-hero-C .zmiti-next {
    text-align: right;
    color: #fff;
    width: 80%;
    margin-top: 20px; }

@-webkit-keyframes energyMove {}
@-webkit-keyframes jump {
  from {
    opacity: 1; }
  to {
    opacity: 1;
    -webkit-transform: translate3d(2rem, 0, 0); } }

/*# sourceMappingURL=index.css.map */